In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
raw_file = '../data/raw.csv'
results_file = '../data/results.csv'

In [3]:
df = pd.read_csv(raw_file)

In [4]:
df.columns =  ['timestamp', 'email', 'gender', 'location', 'is_international', 'ethnicity', 
         # Background
         'parents_edu', 'parents_technical', 'family_income', 'admission_avg', 'hs_extras',
         # Coding
         'code_start_age', 'fav_lang', 'text_editor', 'work_os', 'phone', 'num_hackathons', 'side_proj', 
         # Jobs
         'coop_name_1', 'coop_salary_1', 'coop_loc_1',
         'coop_name_2', 'coop_salary_2', 'coop_loc_2',
         'coop_name_3', 'coop_salary_3', 'coop_loc_3',
         'coop_name_4', 'coop_salary_4', 'coop_loc_4',
         'coop_name_5', 'coop_salary_5', 'coop_loc_5',
         'coop_name_6', 'coop_salary_6', 'coop_loc_6',
         'fav_coop', 'ft_status',
         # Lifestyle
         'exercise', 'cooking', 'sleep_time', 
         # School
         'uni_extras', 'is_se_orig', 'fav_course', 'least_fav_course', 'num_courses_failed', 
         'term_avg_1a', 'class_attendance_1a',
         'term_avg_1b', 'class_attendance_1b',
         'term_avg_2a', 'class_attendance_2a',
         'term_avg_2b', 'class_attendance_2b',
         'term_avg_3a', 'class_attendance_3a',
         'term_avg_3b', 'class_attendance_3b',
         'term_avg_4a', 'class_attendance_4a',
         'hardest_term', 'easiest_term', 'preferred_program', 'soft_eng_rating',
         # Future
         'preferred_company_size', 'work_loc', 'se_friendships', 'career_motives', 'grad_school', 'num_years_soft_eng',
         'preferred_tech_discipline', 'school_debt', 'se_advice',
         # Random
         'unnamed_1', 'unnamed_2', 'unnamed_3', 'unnamed_4'
        ]

In [5]:
df

,timestamp,email,gender,location,is_international,ethnicity,parents_edu,parents_technical,family_income,admission_avg,hs_extras,code_start_age,fav_lang,text_editor,work_os,phone,num_hackathons,side_proj,coop_name_1,coop_salary_1,coop_loc_1,coop_name_2,coop_salary_2,coop_loc_2,coop_name_3,coop_salary_3,coop_loc_3,coop_name_4,coop_salary_4,coop_loc_4,coop_name_5,coop_salary_5,coop_loc_5,coop_name_6,coop_salary_6,coop_loc_6,fav_coop,ft_status,exercise,cooking,sleep_time,uni_extras,is_se_orig,fav_course,least_fav_course,num_courses_failed,term_avg_1a,class_attendance_1a,term_avg_1b,class_attendance_1b,term_avg_2a,class_attendance_2a,term_avg_2b,class_attendance_2b,term_avg_3a,class_attendance_3a,term_avg_3b,class_attendance_3b,term_avg_4a,class_attendance_4a,hardest_term,easiest_term,preferred_program,soft_eng_rating,preferred_company_size,work_loc,se_friendships,career_motives,grad_school,num_years_soft_eng,preferred_tech_discipline,school_debt,se_advice,unnamed_1,unnamed_2,unnamed_3,unnamed_4
0,2017/12/30 4:51:26 PM EST,NaN,Male,"Montreal, Canada",No,East Asian or Asian American,Yes,No,50k-100k,86,"VP Finance of student council, robotics team, ...",18,Python,Vim,macOS,iPhone,5,NaN,Facebook,8700,"Seattle, United States",Google,6500,"Montreal, Canada",Coursera,8000,"Mountain View, California",Figma,8500,"San Francisco, United States",Quora,8750,"Mountain View, United States",Microsoft,9075,"Seattle, United States",Figma,Yes,3,3,Yes,"Hack the North, UWUX, EngSoc",Yes,CS 241,SE 380,0,95,3,87,1,80,2,74,2,exchange,1,73,2,82,1,2B,2A,"UWaterloo, SYDE",4,1,US,6-10,I want to make people more productive,No,No,Product management,60000,Learn how to cook and build habits!,na,"UWaterloo, CS",a45zhang@edu.uwaterloo.ca,Give Christopher Luc a push up
1,2017/12/31 12:01:32 PM EST,NaN,Male,"asdf, asdf",No,East Asian or Asian American,Yes,Yes,150k-200k,96,`12,15,python,vim,Windows,iPhone,2,NaN,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,Yes,4,4,Yes,asdf,No,s,s,12,21,2,12,2,12,1,12,2,1,2,1,3,12,2,1A,4A,asdf,2,5,US,>10,adsf,No,Yes,asdf,asdf,asdf,NaN,"waterloo, 1",asdf,Give Christopher Luc a push up
2,2017/12/31 12:09:15 PM EST,NaN,Female,"adsf,asdf",Yes,Non-Hispanic White or Euro-American,Yes,Yes,150k-200k,12,asdf,afds,fdsa,fdas,Windows,iPhone,0,NaN,adsf,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,Yes,2,2,No,123,Yes,1,1,1,123,2,12,1,123,2,123,1,123,1,123,1,132,2,1A,1A,1,1,1,Canada,6-10,12,Yes,Yes,1,1,1,NaN,"asa,a",1,Give Christopher Luc a push up
3,2018/01/04 9:02:40 PM EST,NaN,Male,"Kitchener, Canada",No,South Asian or Indian American,Master/Professional,Yes,100k-150k,95,Test pls ignore,10,Go,vemacs,macOS,iPhone,6-10,NaN,Test Post inc,3400,"Toronto, Canada",Test Post Inc,3400,"Toronto, Canada",Test Post Inc,3400,"Toronto, Canada",Test Post Inc,3400,"Toronto, Canada",Test Post Inc,3400,"Test Post, Canada",Test Post Inc,3400,"Test Post, Canada",Test Post Inc,Have offer,Few times a week,Few times a week,00:00 (put a format for this),Testing google forms,Yes,CHE 102,CS 241,42,101% (make this numerical?),3,100,2,100,2,100,2,100,2,100,2,100,2,3B,2A,"Test Post, UW",4,2,"East Coast Canada (Toronto, GTA, Ottawa, Montr...",>10,Make this a bigger text box probably?,Yes,Yes,Frontend,0,Just b urself,NaN,NaN,mbakhtar@uwaterloo.ca,Give Andy Zhang a push up
4,2018/01/08 9:07:33 PM EST,NaN,Male,"Markham, Canada",No,East Asian or Asian American,Bachelor's,Yes,150k-200k,95,Drums,16,Python,Vim,macOS,Android,>10,NaN,a,1,1,1,1,1,1,111,1,1,1,1,1,1,1,0,0,0,0,"No offer, not interviewing",Few times a year,Few times a year,12,1,No,A,A,0,11,3,1,3,1,1,1,2,1,2,1,2,1,2,3A,2A,"Software Engineering, UWaterloo",4,4,"California (San Francisco, Bay Area, Los Angel...",>10,love,No,Indefinitely,123,123,123,NaN,NaN,NaN,NaN

In [6]:
def get_valid_coop_salaries(row):
    salaries = np.array(row[['coop_salary_1', 'coop_salary_2', 'coop_salary_3', 
                'coop_salary_4', 'coop_salary_5', 'coop_salary_6']], dtype=np.float32)
    return [x for x in salaries if x > 0]

def compute_coop_avg(row):
    return np.mean(get_valid_coop_salaries(row))

def compute_coop_median(row):
    return np.median(get_valid_coop_salaries(row))

df['coop_salary_avg'] = df.apply(compute_coop_avg, axis=1)
df['coop_salary_median'] = df.apply(compute_coop_median, axis=1)

In [6]:
df.to_csv(results_file)